{:test [{:name Jane
         :things [{:type :phone-call :date "2021-02-09T19:03:59.039Z"}]}
        {:name Sahil
         :things [{:type :phone-call :date "2021-02-09T19:03:59.039Z"}
                  {:type :meeting :date "2021-02-09T19:03:59.039Z"}]}]}
